<div class="topline">
  <a class="kicker" href="#home">{{ title }}</a>
  <nav class="nav">
    <a href="#journal-1">Journal</a>
    <a href="#radar-1">Radar</a>
    <a href="#index-1">Index</a>
  </nav>
</div>
